PORT = your port num
CORS_ORIGIN=*
AWS_REGION = ap-region-number
AWS_ACCESS_KEY_ID= your access key id
AWS_SCERET_ACCESS_KEY= your seceret access key id
AWS_BUCKET_NAME = ur bucket name
REDIS_URL = ur redis url
JWT_SECRET_KEY = ur secret key